<ion-content class="login-content page-layout">
  <div class="logo">
    <div class="banner">
      <img width="100%" src="assets/images/login-banner.png" />
    </div>
  </div>
  <div class="page-content page-login">
    <div class="text-center">
      <img src="assets/images/logo.png" />
    </div>
    <div class="pannel-style">
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-list inset>
          <ion-item>
            <ion-input validateEmail type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input maxlength="30" type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
              required></ion-input>
          </ion-item>
        </ion-list>
        <div class="group-btn">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <!--<button ion-button class="register-btn" type="button" block clear (click)="createAccount()">Create New Account</button>-->
          <button ion-button class="forgot-password-btn text-color-white" type="button" block clear (click)="forgotPassword()">Forgot Password?</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>