<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Choose a payee
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-layout">
  <div class="logo">
    <div class="banner">
      <img width="100%" src="assets/images/main-banner.png" />
    </div>
  </div>
  <div class="page-content default-padding">
    <div class="pannel-style text-center group-btn">
      <button ion-button class="bottom-btn" color="main" full type="button" (click)="creditPayment()">Credit card</button>
      <button ion-button class="bottom-btn" color="main" full type="button" (click)="loanPayment()">Bank loan</button>
      <button ion-button class="bottom-btn" color="main" full type="button" (click)="utilityPayment()">Utility</button>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col>
        <button ion-button class="bottom-btn" color="main" type="button" (click)="cancel()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>