<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Make a payment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" padding>
  <ion-row>
    <ion-col class="bottom-col">

      <button ion-button class="bottom-btn margin-top-80" icon-right color="main" full type="button" (click)="showPaynee()">
            <ion-icon name="end"></ion-icon>
            {{paymentType}}
        </button>

      <ion-item class="border-30 margin-top-20">
          <ion-label class="margin-5"><ion-icon name="logo-usd"></ion-icon></ion-label>
          <ion-input  type="number" [(ngModel)]="money"></ion-input>
      </ion-item>

    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn" color="main" full type="button" [disabled]="!money" (click)="makePayment()">Make Payment</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>