page-payment {
.main-content{
    background: color($colors, main);
  }
  .bottom-btn {
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }
  .bottom-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .input-main {
      margin-top: 20px;
      border-radius: 30px !important;
      padding-left: 20px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
      background: white
  }
  .border-30{
      border-radius: 30px !important;
  }

  .margin-top-20{
      margin-top:20px;
  }

  .margin-top-80{
      margin-top:80px;
  }

  .margin-5{
      margin-right: -5px !important;
  }
}
