<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <ion-icon name="md-beer" class="icon_cover"></ion-icon>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input validateEmail value="demo@evizi.com" type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" value="demo" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <!--<button ion-button class="register-btn" type="button" block clear (click)="createAccount()">Create New Account</button>-->
          <button ion-button class="register-btn" type="button" block clear (click)="forgotPassword()">Forgot password</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>