// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/open-san/Regular/Regular.eot');
  src: url('../assets/fonts/open-san/Regular/Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/open-san/Regular/Regular.woff') format('woff'),
  url('../assets/fonts/open-san/Regular/Regular.ttf') format('truetype'),
  url('../assets/fonts/open-san/Regular/Regular.svg') format('svg');
  font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Open Sans","Roboto","Helvetica Neue",sans-serif;
}
*/
body{
    // max-width: 768px;
    margin: 0 auto;
}
/* PAGE */
.default-padding{
    margin-top: 80px!important;
}
/* HEADER */
.logo{
    text-align: center;
}
.logo-text{
    font-size: 2em;
    color: color($colors,white);
}
.logo-text-main{
    color: color($colors, main);
}
.banner ion-img{
    width: 100%;
    height: auto;
    display: block;
}

ion-header .toolbar-background{
    background: color($colors,bgHeader)!important;
}
.header-ios .toolbar-background {
    border-width: 0!important;
}

/* FOOTER */

.bottom-btn {
    border-radius: 30px !important;
    border: 1px solid color($colors,white);
}
.bottom-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}
ion-footer{
    ion-footer .toolbar-content {
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center!important;
    }
    .toolbar-content-md {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .toolbar-md-dark .toolbar-background-md,
    .toolbar-ios-main .toolbar-background {
        background: color($colors, main)!important;
    }
}

/* COLOR */

.text-color-white{
    color: color($colors,white);
}
.text-bold{
    font-weight: bold;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.float-right{
    float: right;
}
/* END COLOR */

/* LAYOUT */
.page-layout{
    background: url(../assets/images/bg-app.png) no-repeat scroll center top transparent;
    background-size:cover; 
    color: color($colors,white);
    .page-content{
        margin: 15px;
    }
}
/* PANNEL */
.pannel-style {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 10px;
    padding: 10px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    .title{
        border-bottom: 1px solid color($colors,white);
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-weight: bold;
        color: color($colors,white);
    }
    .row-col-style{
        margin-left: -5px;
        margin-right: -5px;
        color:color($colors,white);
        border-bottom: 1px dotted;
    }
    .row-col-style:last-child{
        border-bottom: none;
    }
    .group-btn{
        margin-left: 15px;
        margin-right: 15px;
    }
    button{
        margin-bottom: 15px;
    }
}

/* FORM */

.text-input:focus{
    border-color: transparent!important;
}
ion-row {
    align-items: center;
    text-align: center;
}

.item-inner {
    border-color: none!important;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-color: transparent !important;
    box-shadow: none !important;
}
.list-md .item-input.ng-invalid.ng-touched:last-child:not(.input-has-focus) {
    border-bottom-color: transparent;
    box-shadow: none!important;
}
.item-md.item-input.ng-invalid .item-inner {
    box-shadow: none!important;
}

.item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede;
    padding-left: 8px!important;
}
.item-block {
    border-radius: 20px !important;
    margin-bottom: 10px !important;
}
.item-md {
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.text-input::-moz-placeholder {
    color: #000!important;
}

/* BUTTON */

.bottom-btn,
.button-ios-main {
    color:color($colors,white);
    background-color: color($colors,main)!important;
}

.group-btn{
    button.submit-btn {
        margin-bottom: 10px;
        background: color($colors,main)!important;
    }

    .submit-btn {
        background: color($colors,main);
        border-radius: 30px !important;
        border: 1px solid color($colors,white);
    }

    button:last-child{
        margin-bottom: 5px;
    }
}
.bottom-btn{
    background:color($colors, main)!important;
    border-radius: 30px !important;
    border: 1px solid color($colors,white);
}
.button-md-main {
    color: color($colors,white);
    background-color: color($colors, main);
    max-width: 480px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.register-btn {
    color:color($colors,white)!important;
    font-size: 0.8em;
    text-transform: none!important;
    font-weight: normal!important;
}
.log-out-btn{
    font-size: 2.7rem;
}
.forgot-password-btn{
    text-transform: none;
}

// a[disabled], button[disabled], [ion-button][disabled] {
//     opacity: 0.8;
// }
/* webkit */

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color:transparent!important;
}

/* ALERT */
.alert-wrapper{
    border-radius: 10px!important;
    background: #f8f8f8!important;

    .alert-head{
        padding: 0!important;

        .alert-title{
            margin-top: 0;
            border-radius: 10px 10px 0 0!important;
            padding: 10px;
            background: color($colors,bgAlert);
            color: #fff;
        }
        .alert-sub-title{
            padding: 15px 10px 10px;
            margin-top: 0;
        }
    }
}