page-paynee {
.main-content{
    background: color($colors, main);
  }
  .bottom-btn {
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }
  .bottom-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .padding-top-80{
    padding-top:100px
  }

  .padding-top-20{
    margin-top:20px
  }
}
