<ion-header>
  <ion-navbar color="dark" >
    <ion-title>
      Choose a payee
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" padding>
  <ion-row class="padding-top-80">
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn padding-top-20" color="main" full type="button" (click)="creditPayment()">Credit card</button>
        <button ion-button class="bottom-btn padding-top-20" color="main" full type="button" (click)="loanPayment()">Bank loan</button>
        <button ion-button class="bottom-btn padding-top-20" color="main" full type="button" (click)="utilityPayment()">Utility</button>
      </ion-col>
    </ion-row>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn" color="main" full type="button" (click)="cancle()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>