page-home {
  .main-content{
    background: color($colors, main);
  }
  .bottom-btn {
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }
  .bottom-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .inner-box {
      background: #399F8B;
      padding: 15px 15px 15px 15px;
      margin:50px 10px 10px 10px;
    }
  .text-bold{
    font-weight: bold;
  }
  .text-right{
    text-align: right;
    padding-right: 0px;
  }
  .text-left{
    padding-left: 0px;
  }
    
}
