<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Bank Balance
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" padding>
  <div class="inner-box">
    <ion-row class="text-bold">
      <ion-col width-50 class="text-left">Checking</ion-col>
      <ion-col width-50 class="text-right">{{checking.amount|currency:'USD':true:'1.2-2'}}</ion-col>
    </ion-row>
    <ion-row class="text-bold" style="padding-top: 5px">Recent activity</ion-row>
    <ion-row style="background-color: black;height: 2px"></ion-row>
    <ion-row *ngFor="let pay of bank_balance" style="padding-top:5px;">
      <ion-col width-75 class="text-left">{{pay.payment_date| date:"MM/dd/yyyy"}} {{pay.description}}</ion-col>
      <ion-col width-25 class="text-right">{{pay.amount|currency:'USD':true:'1.2-2'}}</ion-col>
    </ion-row>
    <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button> -->
  </div>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn" color="main" full type="button" (click)="makePayment()">Make Payment</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>