<ion-header>
  <ion-navbar color="main">
    <ion-title>
      Accounts Overview
    </ion-title>
    <ion-buttons end>
      <button class="log-out-btn" ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        <!--Log Off-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-layout">
  <div class="logo">
    <div class="banner">
      <img width="100%" src="assets/images/main-banner.png" />
    </div>
  </div>
  <div class="page-content">
    <div class="pannel-style">
      <ion-row class="text-bold text-color-white">
        <ion-col width-50 class="text-left">Checking</ion-col>
        <ion-col width-50 class="text-right text-bold">{{checking|currency:'USD':true:'1.2-2'}}</ion-col>
      </ion-row>
    </div>
    <div class="pannel-style">
      <div class="inner-box">
        <ion-row class="title" full>Recent activity</ion-row>
        <ion-row *ngFor="let pay of bank_balance" class="row-col-style">
          <ion-col width-75 class="text-left">{{pay.date_checking| date:"MM/dd/yyyy"}}<br/>{{pay.at_location}}</ion-col>
          <ion-col width-25 class="text-right">{{pay.amount|currency:'USD':true:'1.2-2'}}</ion-col>
        </ion-row>
        <ion-row *ngIf="bank_balance?.length <=0">
          <ion-col width-100 class="text-left text-color-white">{{recentActivityMgs}}</ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col>
        <button ion-button class="bottom-btn" color="main" type="button" (click)="makePayment()">Make Payment</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>