<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <ion-title>
      Payment Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-layout">
  <div class="logo">
    <div class="banner">
      <img width="100%" src="assets/images/main-banner.png" />
    </div>
  </div>
  <div class="page-content">
    <div class="pannel-style text-bold text-left text-color-white">
      <ion-label class="title" center>To: {{payType}}</ion-label>
      <ion-label center>Amount: {{amoun| currency:'USD':true:'1.2-2'}}</ion-label>
      <ion-label center>Date: {{date | date: 'MM/dd/yyyy'}}</ion-label>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn" color="main" type="button" (click)="backToAccountsOverview()">Back to Accounts Overview</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>