<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <ion-title>
      Payment made
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" padding>
  <div class="inner-box">
    <ion-label center>To: {{payType}}</ion-label>
    <ion-label center>Amount: {{amoun| currency:'USD':true:'1.2-2'}}</ion-label>
    <ion-label center>Date: {{date | date: 'MM/dd/yyyy'}}</ion-label>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col class="bottom-col">
        <button ion-button class="bottom-btn" color="main" full type="button" (click)="backToPaynee()">OK</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>