page-payment-result {
.main-content{
    background: color($colors, main);
  }
  .bottom-btn {
    border-radius: 30px !important;
    border: 1px solid #ffffff;
  }
  .bottom-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .inner-box {
      background: #399F8B;
      padding: 20px 20px 20px 20px;
      margin:100px 30px 30px 30px;
    }
}
