<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Make a payment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-layout">
  <div class="logo">
    <div class="banner">
      <img width="100%" src="assets/images/main-banner.png" />
    </div>
  </div>
  <div class="page-content">
    <div class="pannel-style text-center group-btn">
      <button ion-button class="bottom-btn" icon-right color="main" full type="button" (click)="showPaynee()">
            <ion-icon name="end"></ion-icon>
            {{paymentType}}
        </button>
      <ion-item class="border-30 margin-top-20">
        <ion-label class="margin-5">
          <ion-icon name="logo-usd"></ion-icon>
        </ion-label>
        <ion-input tabindex="1" maxlength="15" type="number" placeholder="Enter Amount" [(ngModel)]="money"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="main">
    <ion-row>
      <ion-col>
        <button ion-button class="bottom-btn" tabindex="-1" color="main" type="button" (click)="cancelPayment()">Cancel</button>
        <button ion-button class="bottom-btn" tabindex="2" color="main" type="button" (click)="makePayment()">Make Payment</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>